<% @page_title="New Job" %>

<%= form_for(@job) do |f| %>
  <div class="card white">

    <div class="card-content">

      <%= render partial: "form", locals: {:job => @job, :f => f} %>

      <div class="row">
        <%= recaptcha_tags %>
      </div>

      <div class="row">
        <div class="col">
          <%= f.submit "Submit Job", class: "btn blue-grey white-text", type: "submit" %>
        </div>
      </div>
    </div>
</div>

<% end %>

