<% @page_title="User Info" %>

<div class="card white">
  <div class="card-content">
    <% if @user.admin == true %>
      <strong>Admin</strong><br />
    <% end %>

    <span class="card-title blue-text text-darken-2"><%= @user.name %></span><br />
    <%= @user.email %><br />
    <%= link_to "Edit Info", {:controller => "users", :action => "edit", :id => @user.id} %><br />
    <%= link_to "My Posts", {:controller => "users", :action => "posts", :id => @user.id} %>
  </div>
</div>
