<div id="leftSidebar" class="col l3 m4 hide-on-small-only">
  <h4><span class="line">Will Code</span> <span class="line"> For Food</span></h4>
    <p>
      Great Coding jobs<br />
      No experience required.<br />
      <br/>

      Free to Search<br />
      Free to Post<br />
      <em>Premium Posts Coming Soon</em></p>
    <p>
      <%= link_to "Post A Job", new_job_path, class: "btn blue-grey white-text"%></p>
</div>
