<div id="leftSidebar" class="col l4 m3 hide-on-small-only">
    <h4>Will Code For Food</h4>
    <p>Great Coding jobs<br />
       No experience required.<br />
      <br/>

      Free to Search<br />
      Free to Post (Premium listings coming soon)</p>
    <p><%= link_to "Post A Job", new_job_path, class: "btn blue-grey white-text"%></p>
</div>
