<header>
  <div class="navbar-fixed">
    <nav class="blue-grey darken-2">
      <div class="nav-wrapper container">
        <ul id="nav-mobile" class="right">
          <li><%= link_to "Jobs", :controller => "jobs", :action => "index" %></li>
          <li><%= link_to "Post", :controller => "jobs", :action => "new" %></li>
          <li><%= link_to "About", :controller => "static_pages", :action => "about" %></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
