* {
  box-sizing: border-box;
}

body {
  background: #2f2f2f;
  color: white;
  font: 14px/1.5 Helvetica, Arial, sans-serif;
  margin: 20px auto;
  width: 700px;
}

a {
  text-decoration: none;
  color: inherit;
}


#container {
  margin-top: 50px;
  display: flex;
}

#leftSidebar {
  width: 300px;
  padding-right: 20px;
  
}

.job {
  background-color: whitesmoke;
  color: darkslategrey;
  
  width: 450px;
  padding: 5px 15px;
  border-radius: 5px;
}

h2 {
  padding: 0;
  margin: 0;
}
